<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArtefaktGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ArtefaktGenerator.Properties.Settings>
            <setting name="saveAch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WDA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="diceRandom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="diceW6" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="diceW20" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="showHeldenImport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="reRollNeben" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showSavedPDF" serializeAs="String">
                <value>True</value>
            </setting>
        </ArtefaktGenerator.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
